<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
</head>

<body>
    <h2>Hello {{user.name}}</h2>
    <a href="/profile/{{user.employee_id}}">
        Profile
    </a>
    <br><br>
        <a href="/attendance/{{user.employee_id}}">
        Attendance
    </a>
    <br><br>
        <a href="/leave/{{user.employee_id}}">
        Leave Requests
    </a>
        <br><br>
        <a href="/payroll/{{user.employee_id}}">
        View Payroll
    <br><br>
        <a href="/logout">
        Logout
    <br><br>
</body>

</html>